header{background-color: brown; font-size: xx-large;}
  .cabecera{background:url(https://tse3.mm.bing.net/th/id/OIP.7TGrX5UdzRHQL_VZRgGQ-gHaFj?cb=12&rs=1&pid=ImgDetMain&o=7&rm=3);
            background-size: 100vh;
            background-repeat: no-repeat;
        font-size: 50px;
        color: white;}
        .entrada{width: 150px;
        background-color: aqua;
    color: blue;}
    h2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}